@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
 
}





.btn{
  @apply px-6 py-2 border border-transparent rounded-3xl;
  transition: all 0.2s ease-in-out;
}
.btn:hover{
  @apply  rounded-3xl text-black  shadow-lg;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  
}
.more{
  @apply mt-6 block  relative font-fraunces;
}
.more::after{
  @apply absolute bottom-0 w-24 h-3 border rounded-3xl -z-10 left-0  bg-yellow;
  content: "";
}
.card{
  @apply  flex flex-col items-center justify-center px-8 gap-8 w-full
}
.testimonial-p{
  @apply  md:text-[1.125rem]  leading-8 font-semibold font-barlow text-very-dark-grayish-blue text-center
}
.p-job{
  @apply text-grayish-blue text-[14px] font-barlow
}